## Data Science with Python

Python is a computer programming language often used to build websites, software, automate tasks and conduct data analysis

## Data Types
- Integers
- Floats
- Strings
- Booleans
- Tulpes
- Sets
- Dictionaries
- Lists

In [1]:
# Integers are whole numbers, wheather postive or nrgative
2+5

7

In [2]:
# additon of two numbers
65+70

135

In [3]:
#subtraction
67-5

62

In [4]:
#multiplication
5*5

25

In [5]:
#sqaured root
8**2

64

In [6]:
#division
#floor division
#Returns only a whole number
60//5

12

In [7]:
60/5

12.0

In [8]:
#modulo division
#Returns a remainder
60%5

0

In [12]:
#modulo division
24% 5

4

In [16]:
type(4)

int

## Floats

In [13]:
#floats are decimal numbers
45.3 + 4

49.3

In [14]:
type(49.3)

float

In [17]:
8.5 - 5.5

3.0

In [18]:
type(3.0)

float

## Variable Assignment

In [20]:
age = 17
age

17

In [21]:
print(age)

17

In [22]:
age *3

51

In [23]:
age /4

4.25

In [30]:
# The score in a student's tests, attendance and exam
# Calculate the student's total score
first_test = 7
second_test = 9
attd = 5
exam = 56
total_score = first_test + second_test + attd + exam
total_score
attdAndexam = attd + exam
attdAndexam

61

In [27]:
attd + exam

61

In [31]:
#printing more than one output

print(age)
print(total_score)

17
77

In [37]:
#score calculator
first_test = int(input("What is your score in the first test?   : "))
second_test =  int(input("What is your score in the second test? : "))
attd =  int(input("What is your score in the attendance?  : "))
exam =  int(input("What is your score in the exam?  : "))

total_score = first_test + second_test + attd + exam

print(total_score)

What is your score in the first test?   : 7
What is your score in the second test? : 9
What is your score in the attendance?  : 10
What is your score in the exam?  : 56
82

## string
- A strings is a sequence of a unicode characters
- String is represented using a single or double quotation marks
- All characters between the quotes are items of the string

In [38]:
"hello world"

'hello world'

In [39]:
type('hello world')

str

In [40]:
print("chinyere")

chinyere

In [42]:
print('I\'m a girl')

I'm a girl

In [43]:
#Returns the lenght
len("chinyere")

8

In [44]:
print("my name is chinyere")
print("I'm a member of this class")

my name is chinyere
I'm a member of this class

In [45]:
#\n goose to the next line
print("my name is chinyere\nI am from Anambra state\nI love my state")

my name is chinyere
I am from Anambra state
I love my state

In [46]:
print("my name is chinyere\n\n\nI love my mum.")

my name is chinyere


I love my mum.

In [49]:
name = "chinyere"
name

'chinyere'

In [50]:
type(name)

str

In [51]:
print(name*2)

chinyerechinyere

In [53]:
print(name,age)

chinyere 17

In [58]:
#seperation between each variable
print(name,age, sep='\n')

chinyere
17

In [63]:
# a programm to return a person's full name
first_name = input("what is your first name? >>>>>")
last_name = input("what is your last name?>>>>>")
full_name = first_name + '  ' + last_name
print(full_name)

what is your first name? >>>>>chinyere
what is your last name?>>>>>chukwuka
chinyere  chukwuka

In [64]:
len(full_name)

18

## indexing and slicing
- indexing is used to obtain individual element.
- slicng is used to obtain a sequence of element
- indexing starts from zero. Thats the first element in the sequence is index 0
- negative indexing starts from -1

In [65]:
name

'chinyere'

In [66]:
name[0]

'c'

In [68]:
name[-2]

'r'

In [69]:
name[-5]

'n'

In [72]:
# slicing
# [start: stop: step]

name [1:4]

'hin'

In [73]:
name[:]

'chinyere'

In [75]:
name [:1:-2]

'een'

In [77]:
mylist = list(range(10))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
mylist [1:4]

[1, 2, 3]

In [83]:
mylist [2:8:2]

[2, 4, 6]

In [85]:
mylist[3:-2:2]

[3, 5, 7]

In [86]:
mylist[:2:-2]

[9, 7, 5, 3]

In [87]:
type(name)

str

In [88]:
place = "new york"
place

'new york'

In [89]:
place.capitalize()

'New york'

In [90]:
place.title()

'New York'

In [91]:
place.split()

['new', 'york']

In [92]:
sent = 'the boy is the school'
sent

'the boy is the school'

In [93]:
sent.capitalize()

'The boy is the school'

In [94]:
sent.split()

['the', 'boy', 'is', 'the', 'school']

In [95]:
sent.split('boy')

['the ', ' is the school']

In [96]:
place.upper()

'NEW YORK'

In [97]:
sent.count("o")

3

In [101]:
word =['how','are','you', 'doing']

fullsent = ' '.join(word)
fullsent

'how are you doing'

### format printing

In [105]:
name = 'victor' 
age = 24
print('my name is',name,'I am',age,'years old')

my name is victor I am 24 years old

In [108]:
#.format method
print('my name is {} ' 'and I am {}years old'.format(name,age))

my name is victor and I am 24years old

In [110]:
#placeholder method
print('my name is %s ' 'and I am %s years old' %(name,age))

my name is victor and I am 24 years old

In [112]:
# f-string
print(f'my name is {name} and I am {age} years old')

my name is victor and I am 24 years old